My workflow 10.json
{
  "name": "My workflow 10",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.4,
      "position": [
        0,
        0
      ],
      "id": "dfce954d-8fea-4027-b39c-fc3e03e14ab7",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "ouET1NO5dBunYlNS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.snippet }}",
        "options": {
          "systemMessage": "=You are a helpf# ROLE & PERSONA\nYou are a helpful, professional, and empathetic virtual customer service assistant representing our SaaS company. Your primary goal is to assist users with their inquiries with the utmost professionalism, ensuring they feel supported and valued.\n\n\n\n\n\n************IF USING CALENDER*******\n\"You are an AI Executive Assistant. Your job is to handle emails and schedule meetings.\n\nWhen someone asks to book a meeting or check your availability, use the Google Calendar Tool to check my existing schedule.\n\nLook for free slots during my working hours (e.g., Monday to Friday, 9 AM to 5 PM).\n\nIf a slot is free, propose it to the client.\n\nOnce they confirm, or if the email context implies a direct booking request, use the tool to Create a Calendar Event with their email address as an attendee.\n\nAfter booking, send a polite confirmation email using the Gmail reply tool.\"\n\n# SOURCE OF TRUTH\n- Your absolute source of truth is the FAQ knowledge base provided from the linked Google Sheet.\n- You must strictly base all your answers, facts, and troubleshooting steps on this data.\n- Never assume, extrapolate, or use outside knowledge regarding our software's features, pricing, or technical policies.\n\n# BEHAVIORAL CONSTRAINTS & ESCALATION\n1. If a user's inquiry can be answered using the FAQ knowledge base, provide the solution directly.\n2. If the required information is NOT found in the FAQ knowledge base, or if the request is outside the scope of the documentation, you must never fabricate, guess, or make up information.\n3. In case of missing information, politely inform the user that you cannot resolve this immediately and that you are escalating their case to a human specialist who will review it and get back to them shortly.\n\n# TONE & STYLE\n- Maintain a clear, friendly, warm, and concise tone.\n- Be professional yet approachable. Avoid overly robotic phrasing, confusing jargon, or unnecessary fluff.\n\n# FORMATTING REQUIREMENTS\n- You must structure your response as a natural, readable email.\n- Do not output a single, dense block of text.\n- Use proper paragraph spacing, clear line breaks, a polite greeting at the beginning, and a professional sign-off at the end to ensure the formatting looks organic and human-written.ul assistant {{ $json.Subject }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "af4f83b0-8306-4e06-9907-a3b41f809cd1",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        80,
        208
      ],
      "id": "e60430f1-0893-4bba-81fe-845ee3871500",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "GDbkBQfRRl4s6EVj",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15-lOZw_tynqII6GQ7LmdahhvQHD7Dstamnqc3SWTx7A",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-lOZw_tynqII6GQ7LmdahhvQHD7Dstamnqc3SWTx7A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15-lOZw_tynqII6GQ7LmdahhvQHD7Dstamnqc3SWTx7A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        368,
        208
      ],
      "id": "4bd1e23f-5572-47ce-a39b-dedd6608588d",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "u5eltDn7ZAA1KjPz",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.threadId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        224,
        208
      ],
      "id": "1b2df5ef-8f28-47f2-98a9-5070fabc1859",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": "={{ $('Gmail Trigger').item.json.threadId }}",
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "728faea8-703c-47fc-8985-e24770a32319",
      "name": "Reply to a message",
      "webhookId": "b2a48f32-6dd9-4466-b73c-93b339ed1883",
      "credentials": {
        "gmailOAuth2": {
          "id": "ouET1NO5dBunYlNS",
          "name": "Gmail OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "calendar": {
          "__rl": true,
          "value": "pandeyanushka259@gmail.com",
          "mode": "list",
          "cachedResultName": "pandeyanushka259@gmail.com"
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.googleCalendarTool",
      "typeVersion": 1.3,
      "position": [
        464,
        304
      ],
      "id": "66eafa46-309c-4985-908f-e2a71e0d642a",
      "name": "Create an event in Google Calendar",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "rH1TSfj4QDL5oQU4",
          "name": "Google Calendar OAuth2 API"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Reply to a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create an event in Google Calendar": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "916fa735-a0b1-4987-b81e-7696957c9a57",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "809a5175cbe1c148973e7947d129e44255f9e79ff678931ccd4629a63b149e5f"
  },
  "nodeGroups": [],
  "id": "Q4TKFo5aM2UEfsMw",
  "tags": []
}